.section {
    position: relative;
    width: 100%;
    background-color:white;
    min-height: 90vh;
  }

.wrapper {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 70px;
    display: flex;

  }
  
  .box  {
    min-height: 70vh;
    max-width: 80vw;
    margin: 0 auto;
    display : flex ; 
    flex-direction: column;
    border-radius: 15px;
    /* box-shadow: 10px 10px 35px rgba(131, 115, 115, 0.24); */
  }

  .buttonQuestion {
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    width: 50px;
    height: 45px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .h2 {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px ;
    padding-bottom: 10px;
  }

  .p {
    text-align: justify;
  }

  .question, .answer{
    padding: 45px;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .question {
      background-color: white;
      border-radius: 15px 15px 0 0 ;
      border-top-style: solid;
      border-right-style: solid;
      border-left-style: solid;
      border-color: rgb(223, 223, 223);
      border-width: 1px;
  }
  
  .answer {
    background-color: #EDEDED;
    border-radius: 0 0 15PX 15PX ;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border-width: 1px;
  }

  .author {
    color :black ; 
    font-weight: 600;
    text-align: right;
    padding-top: 20px;
  }


  @media (max-width: 768px) {
  
    .section h2 {
      font-weight: bold;
      font-size: 1.3em ;
      margin-top: 20px;
    }
  }