.mynavbar {
    display: flex;
    height: 80px;
    background-color: rgb(37, 37, 37);
    align-items: center;
    justify-content: center;
}
.navwrapper {
    width: 90vw;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.herotitle {
    font-weight: bold;
    cursor: default ;
}

.icons {
    font-size: 25px;
    color : white;
    margin-right: 10px;
}

.icons2 {
    font-size: 25px;
    color :black;
    margin-right: 10px;

}

.hwrapper {
    display: flex;
    width: 50%;
    color : white ;
    font-size: 1.2em;
}

.bwrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.buttonwrap {
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    align-items: center;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.55s ease;
}

.buttonwrap:hover {
 filter : invert();
}


.firstsection {
    width: 100%;
    height: auto;
    background-color: black;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    background-image: url("../public/handz.png");
    background-repeat: no-repeat;
    background-position: center;
}

.mainwrapper {
    width: 50vw;
    margin-top: 60px;
    margin-bottom: 80px;
}

.topwrap {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
}

.bigspan {
    font-size: 2.2em;
    font-weight: bolder;
    white-space: nowrap;
    cursor: default ;
}

.mainparagraph {
    text-align: justify;
    cursor: default;
}

.githubwrap {
    display: flex;
    margin-top: 20px;
    justify-content: right;
}

.versionwrap {
display: flex;
align-items: center;
}

.versionspan {
    margin-right: 15px;
    color : rgb(146, 146, 146)
}

.githubbutton {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.55s ease;
}

.githubbutton:hover {
 filter : invert();
}





/************************************************************/

.secondsection {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ssmainwrap {
    display: flex;
    width: 80%;
    height: 80%;
}

.ssinnerleftwrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.wrapcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    height:90%;
    background-color: rgb(85, 85, 85);
    border-radius: 15px 0 15px 0;
}

.screenimg {
    height: 70%;
    width: auto;
    object-fit: cover;
    z-index: 1;
}

.screenimg2 {
    height:80% ;
    width: auto ;
    object-fit: cover;
    z-index: 2;
    margin-left: 10px;
    position: relative;
}

.versionmaj {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.ssinnerrightwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-left: 30px;
    height: 100%;
    width: 50%;
}

.ssbigparagraph {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    cursor: default ;
}

.ssmediumparagraph {
    font-weight: 1.1em;
    text-align: justify;
    cursor: default ;
}


/******************************************************/

.thirdsection {
    height: 50vh;
    width: 100%;
    background-color: rgb(243, 237, 237);
    display: flex;
    flex-direction: row;
}

.middleleftwrap{
    padding: 50px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items : center; 
    width: 60%;
    font-size: 3em;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.middlerightwrap {
    width: 40%;
    background-image: url("../public/rock.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.midbuttonwrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 1.4rem;
    cursor: default ;
}

.heroparagraph {
    cursor: default ;
}

.customempbut {
    margin-top: 20px;
    border : solid ;
    margin-right: 10px;
    border-radius : 5px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.55s ease;
}

.customempbut:hover {
 background-color :rgb(32, 32, 32);
 color : white;
 border: solid 3px rgb(32, 32, 32);
}


.customfilbut {
    margin-top: 20px;
    color: white;
    border : solid ;
    border-color: rgb(32, 32, 32);
    border-radius : 5px ;
    padding: 20px;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.55s ease;
}

.customfilbut:hover {
 background-color :rgb(221, 221, 221);
 color : rgb(32, 32, 32);
 border: solid 3px rgb(32, 32, 32);
}

.workinprogress {
    display: flex;
    font-size: 0.8rem;
    justify-content: left;
}

/******************************************************/


.fourthsection {
    height: 30vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonwrapfs {
    display: flex;
    flex-direction: row;
}


.mediumheadline {
    color :rgb(32, 32, 32);
    font-size: 3em;
    font-weight: bold;
    cursor: default ;
    margin-bottom: 10px;
}


.freelancel {
    display: flex ;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border-radius: 40px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    transition: all 0.55s ease;
    margin-left: 20px;
}

.freelancel:hover {
 filter : invert();
}

.icons3 {
    height: 35px;
    color : white;
}


/******************************************************/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    height: 80px;
    background-color: rgb(32, 32, 32);
    padding-top: 20px ;
    padding-bottom: 20px;
}

.creditswrap {
    display: flex;
    flex-direction: row;
}

.spanfooter {
    margin-right: 5px;
}

.ulfooter {
    display: flex;
    flex-direction: row;
}

.authordev {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.55s ease;
}

.authordev:hover {
    color : rgb(214, 97, 97);
}

.spanwild {
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.55s ease;
}

.spanwild:hover {
    color : rgb(214, 97, 97);
}


@media (max-width: 850px) {
    
.mainwrapper {
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 60px;
}

.mainparagraph {
    text-align: justify;
    cursor: default;
    font-size: 1.2em;
}

/************************/

.ssinnerleftwrap {
    display: none;
    
}

.ssinnerrightwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.ssbigparagraph {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    cursor: default ;
}

.ssmediumparagraph {
    font-weight: 1.1em;
    text-align: justify;
    cursor: default ;
}

/************************/

.thirdsection {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.middleleftwrap{
    padding: 50px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items : center; 
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.middlerightwrap {
    display: none;
}

.midbuttonwrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 1.4rem;
    cursor: default ;
    justify-content: center;
}

.heroparagraph {
    cursor: default ;
}

.customempbut {
    margin-top: 20px;
    border : solid ;
    margin-right: 10px;
    border-radius : 5px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.55s ease;
}

.customempbut:hover {
 background-color :rgb(32, 32, 32);
 color : white;
 border: solid 3px rgb(32, 32, 32);
}


.customfilbut {
    margin-top: 20px;
    color: white;
    border : solid ;
    border-color: rgb(32, 32, 32);
    border-radius : 5px ;
    padding: 20px;
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.55s ease;
}

.customfilbut:hover {
 background-color :rgb(221, 221, 221);
 color : rgb(32, 32, 32);
 border: solid 3px rgb(32, 32, 32);
}

.workinprogress {
    display: flex;
    font-size: 0.8rem;
    justify-content: left;
}

/**************************/

.fourthsection {
    height: 30vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonwrapfs {
    display: flex;
    flex-direction: row;
}


.mediumheadline {
    color :rgb(32, 32, 32);
    font-size: 2em;
    font-weight: bold;
    cursor: default ;
    margin-bottom: 30px;
}


.freelancel {
    display: flex ;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border-radius: 40px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    transition: all 0.55s ease;
    margin-left: 20px;
}

.freelancel:hover {
 filter : invert();
}

.icons3 {
    height: 35px;
    color : white;
}

/******************************/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    height: auto;
    background-color: rgb(32, 32, 32);
    padding-top: 30px ;
    padding-bottom: 20px;
}

.creditswrap {
    display: flex;
    flex-direction: column;
}

.spanfooter {
    text-align: center;
}

.ulfooter {
    display: flex;
    flex-direction: row;
}

.authordev {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.55s ease;
}

.authordev:hover {
    color : rgb(214, 97, 97);
}

.spanwild {
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.55s ease;
}

.spanwild:hover {
    color : rgb(214, 97, 97);
}

}

@media (max-width:500px){

    .bigspan {
        font-size: 1.5em;
        font-weight: bolder;
        white-space: nowrap;
        cursor: default ;
    }

    /******************/

    .secondsection {
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .ssbigparagraph {
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
        color: rgb(32, 32, 32);
        cursor: default ;
    }


    /************************/

    .middleleftwrap{
        
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items : center; 
        width: 100%;
        font-size: 2em;
        font-weight: bold;
        color: rgb(32, 32, 32);
    }

    .midbuttonwrap {
        display: flex;
        width: 100%;
        flex-direction: column;
        font-size: 1.4rem;
        cursor: default ;
        justify-content: center;
    }

    /************************/


    .fourthsection {
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:20px;
        padding-bottom: 20px;
    }
    
    .buttonwrapfs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .mediumheadline {
        color :rgb(32, 32, 32);
        font-size: 2em;
        font-weight: bold;
        cursor: default ;
        text-align: center;
        margin-bottom: 30px;
    }
   


    .freelancel {
        display: flex ;
        align-items: center;
        width: 100%;
        padding: 10px 15px 10px 15px;
        font-weight: bold;
        border-radius: 40px;
        background-color: rgb(231, 231, 231);
        cursor: pointer;
        transition: all 0.55s ease;
        margin-top: 20px;
    }
    
    .freelancel:hover {
     filter : invert();
    }
    
    .icons3 {
        height: 35px;
        color : white;
    }

}