.footer {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 0;
  background: black;
  color: white;
  display: flex;
}
.footer div {
  align-self: center;
}
.footer div ul {
  padding: 15px 0px 15px 75px;
  list-style-type: none;
}

.footer div button {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: transparent;
    z-index: 1;
    position: sticky;
  }
  .footer div {
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 30px;
  }
  .footer div button {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 70px;
    font-size: 1.25em;
    width: 300px;
    display: block;
    text-align: center;
    margin: 15px 0px 15px 0px;
  }
  .footer div ul {
    display: none;
  }
}