.footer {
  padding:0;
  width: 100%;
  height: auto;
  position: absolute;
  background: black;
  color: white;
  display: flex;
}
.footer div {
  align-self: center;
}
.footer div ul {
  padding: 15px 0px 15px 75px;
}

.footer div button {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer {
    background-color: transparent;
    z-index: 1;
    position: sticky;
  }
  .footer div {
    margin:10px auto;
  }
  .footer div button {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 70px;
    font-size: 1.25em;
    width: 300px;
    display: block;
    margin: 15px ;
  }
  .footer div ul {
    display: none;
  }
}