.footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom:0;
    background: black;
    color: white;
  }
  .footer div {
    align-self: center;
  }
  .footer div ul {
    padding: 15px 0px 15px 75px;
  }
  .footer div ul li {
    cursor: pointer;
  }
 
  