.header {
    position: relative;
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    padding: 0 50px;
    color : white;
  }
  
  .header button {
    background-color: white;
    color: black;
    border-radius: 30px;
    height: 40px;
    align-self: center;
    font-size: 14px;
    font-weight: bolder;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  
  .header h1 {
    position: relative;
    align-self: center;
    font-weight: bold;
    font-size: x-large;
    white-space: nowrap;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .header button {
      display: none;
    }
}
