.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalPost {
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    width: 90vw;
    height: 90vh;
    z-index: 3;
    margin-top: 5vh;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
}

.modalPostR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 50vw;
    height: 50vh;
    z-index: 3;
    margin-top: 5vh;
    border-radius: 15px;
    position: absolute;
    left: 25%;
    transform: translate(-50%);
    top: 0;
    transform: translateY(50%);
}

.modalPostR > h3 {
    font-size: 1.2em;
    color : rgb(53, 53, 53);
    margin-bottom: 10px;
}

.quitbuttonr {
    position: absolute;
    color : white;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 15px;
    border-radius: 50%;
    background-color: black;
}

.reportbutton {
    padding: 15px 20px 15px 20px ;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border : none;
    color: white;
    margin-top: 10px;
}

.wrapperbuttonr {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    margin-top: 40px;
}

.leftwrap {
    background-image: url("../public/annie-spratt.jpg");
    background-size: cover;
    background-color: black;
    filter: grayscale();
    width : 60%;
    display: flex;
    flex-direction: column;
    border-radius : 15px 0px 0px 15px;
    color: white;
}   

.topwrap {
    height: 10%;
    
}

.midwrap {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    padding-left : 20px;
    padding-right: 20px;
    
}

.spanslug {
    margin-top: 40px;
    margin-bottom: 10px;
}

.botwrap {
    height: 10%;
    background-color: black;
    border-radius: 0px 0px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 20px;
    align-items: center;
}

.socialicons {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.socialicons > li {
    margin-left: 10px;
    margin-right: 10px;
}

.bigtittle {
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 4px;
}

.rightwrap {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius:  0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formwrap {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
    padding : 40px;
    height: 100%;
}

.topwrappara {
    display: flex; 
    flex-direction: column;
    justify-content: left;
}

.mediumtitle {
   color: rgb(12, 12, 12);
   font-size: 2em;
   font-weight: bold;
}

.paraform {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(119, 119, 119);
}


.quitbutton {
    position: absolute;
    top: 50px;
    right: 15px;
}



.modalPost h3 {
    text-align: center;
    width: fit-content;
    margin: auto;
    font-weight: 600;
}

.modalPost button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    float: right;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transform: translate(-20%, -80%);
    font-size: 1em;
}

.modalPost form * {
    width: 100%;
    padding: 5px;
    border: rgba(0, 0, 0, 0.267);
    resize: none;
}

.labelform {
    color :rgba(99, 99, 99, 0.39);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 2px;
}
.modalPost form div  {
    margin-top: 10px;
}

.modalPost form div *:valid {
    border-bottom: 4px solid green;
}

.modalPost form div *:invalid {
    border-bottom: 4px solid red;
}

.modalPost form div textarea {
    height: 30vh;
}

.buttonsubmit {
    position: absolute;
    bottom: 20px;
    right : 20px;
    max-width: 100px;
    height: 50px;
    background-color: black;
    color : white;
    border-radius: 15px;
    cursor : pointer ; 
}

@media screen and (max-width: 1000px) {

    .bigtittle {
        font-weight: bold;
        font-size: 4em;
        letter-spacing: 4px;
    }

    .mediumtitle {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 867px) {

    .modalPost form div textarea {
        height: 25vh;
    }

    .bigtittle {
        font-weight: bold;
        font-size: 3.5em;
        letter-spacing: 4px;
    }

    .mediumtitle {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .modalPost {
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
        width: 90vw;
        height: 90vh;
        z-index: 3;
        margin-top: 5vh;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 0;
    }

    .leftwrap {
        background-color: black;
        background-image: none;
        width : 40%;
        display: flex;
        flex-direction: column;
        border-radius : 15px 0px 0px 15px;
        color: white;
    }   
    
    .topwrap {
        height: 10%;
        
    }
    
    .midwrap {
        display: flex;
        flex-direction: column;
        height: 80%;
        font-size: 0.60em;
        justify-content: center;
        padding-left : 20px;
        padding-right: 20px;
        
    }
    
    .spanslug {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .botwrap {
        height: 10%;
        background-color: black;
        border-radius: 0px 0px 0px 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .sociallist {
        display: none;
    }

    .socialicons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .socialicons > li {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .bigtittle {
        font-weight: bold;
        font-size: 1.3em;
        letter-spacing: 4px;
    }
    
    .rightwrap {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        width: 60%;
        border-radius:  0px 15px 15px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .formwrap {
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(223, 223, 223);
        padding : 10px;
        height: 100%;
    }
    
    .topwrappara {
        padding-top: 20px;
        display: flex; 
        flex-direction: column;
        justify-content: left;
    }
    
    .mediumtitle {
       color: rgb(12, 12, 12);
       font-size: 1.0em;
       font-weight: bold;
       white-space: nowrap;
    }
    
    .paraform {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.70em;
        color: rgb(119, 119, 119);
    }


    .modalPost h3 {
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    .modalPost button {
        background-color: black;
        color: white;
        float: right;
    }

    .modalPost form * {
        width: 100%;
        border-radius: 10px;
        resize: none;
        margin:auto;
        height:fit-content;
    }

    .modalPost form div textarea {
        height: 30vh;
    }

    .modalPost form div *:valid {
        border-bottom: 2px solid green;
        border-radius: 0px;
    }

    .modalPost form div *:invalid {
        border-bottom: 2px solid rgb(255, 0, 0);
        border-radius: 0px;
    }

    .modalPost form input#submit{
        font-size:50px;
        padding: 10px;
    }

}

.modalPostR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 80vw;
    height: 50vh;
    z-index: 3;
    margin-top: 5vh;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    transform: translate(-50%);
    top: 0;
    transform: translateY(50%);
}

.modalPostR > h3 {
    font-size: 1.2em;
    color : rgb(53, 53, 53);
    margin-bottom: 10px;
}

.quitbuttonr {
    position: absolute;
    color : white;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 15px;
    border-radius: 50%;
    background-color: black;
}

.reportbutton {
    padding: 15px 20px 15px 20px ;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border : none;
    color: white;
    margin-top: 10px;
}

.wrapperbuttonr {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    margin-top: 40px;
}