.header {
  width: 100%;
  height: 380px;
  background: black;
  padding: 0 50px;
  color : white;
  display: flex;
  justify-content: center;
}

.headerWrapper {
  width: 1400px;
  max-width: 1400px;
  display: flex;
}

.headerWrapper button {
  background-color: white;
  color: black;
  border-radius: 30px;
  height: 40px;
  align-self: center;
  font-size: 14px;
  font-weight: bolder;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.headerWrapper h1 {
  position: relative;
  align-self: center;
  font-weight: bold;
  font-size: x-large;
  white-space: nowrap;
  cursor: pointer;
}

.navbar {
    background-color:green;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menubar {
    margin-left:  2rem;
    font-size: 2rem;
    background: none;
  }

  .navmenu {
    background-color:rgb(128, 0, 70);
    width : 250px;
    height : 100vh;
    display : flex;
    justify-content: center ;
    top : 0;
    right: -100%;
    transition: 850ms;
  }

  .navmenu.active {
    right : 0;
    transition :350ms;
  }

  .nav-text {
    display : flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 42px;
  }

  .nav-text a {
    text-decoration: none;
    color : white;
    font-size:  18px;
    width: 95%;
    height:  100%;
    display:  flex;
    align-items: center;
    padding : 0 16px;
    border-radius: 4px;
  }

  .nav-text a:hover {
    background-color: white;
    color : black ;
  }

  .navmenuitems {
    width: 100%;
  }

  .navbar-toggle {
    background-color: black;
    width : 100%;
    height: 80px;
    display : flex;
    justify-content: flex-start;
    align-items: center;
  }

  .span {
    margin-left : 16px
  }