.mainwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 80vw;
    height: 5vh;
    max-width: 1080px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
 
 .innersearchleft {
   font-size: 1.2em;
   width: 7%;
   display: flex;
   justify-content: center;
 }
 
 .innersearchmid {
   padding-left: 10px;
   width: 86%;
 }
 .searchinput {
   border : none;
   font-size: 0.9em;
   font-weight: bold;
   color : rgb(126, 126, 126);
   width : 100%;
 }
 
 .innersearchright {
   font-size: 1.2em;
   display: flex;
   justify-content: center;
   width: 7%;
 }