* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #fff;
}

div.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

main div.wrapper {
  display: block;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background: black;
  display: flex;
  padding: 0 50px;
}
header div {
  /* justify-content: space-between; */
}
header button {
  background-color: white;
  color: black;
  border-radius: 30px;
  height: 40px;
  align-self: center;
  font-size: 14px;
  margin-left:auto;
}

header h1 {
  position: relative;
  align-self: center;
}

header h1 a span {
  align-self: center;
  margin-left: 15px;
  font-size: 20px;
}

header nav {
  display: none;
}

header nav > ul li {
  display: inline;
}

header nav > ul li:first-child {
  display: none;
}

header nav > ul li a {
  margin-left: 10px;
}

header nav > ul li a:hover {
  text-decoration: underline;
}

main {
  margin-top: 30px;
}

footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: black;
  color: white;
  display: flex;
}
footer div {
  align-self: center;
}
footer div button {
  display: none;
}

@media screen and (max-width: 768px) {
  header button {
    display: none;
  }
  #nav-mobile-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.5);
  }
  body.prevent-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  #nav-mobile-overlay.show {
    display: block;
  }

  header nav {
    display: block;
    min-width: 250px;
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0;
    align-self: auto;
    margin-left: 0;
    background: black;
    z-index: 3;
    box-shadow: -3px 0px 21px -9px rgba(0, 0, 0, 0.68);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  header nav.open {
    right: 0;
  }

  header nav > ul {
    padding: 20px;
    padding-top: 30px;
  }

  header nav > ul li {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
  }

  header nav > ul li:first-child {
    display: block;
    border-bottom: 0;
  }

  header nav > ul li:first-child strong {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
  }

  header nav > ul li a {
    margin-left: 0;
  }

  header #hamburger {
    width: 30px;
    height: 35px;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 5px;
    align-self: center;
    margin-left: auto;
  }

  header #hamburger span {
    width: 100%;
    height: 4px;
    position: relative;
    display: block;
    margin: 0 0 5px;
    border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    background: #fff;
  }
  footer {
    background-color: transparent;
  }
  footer div {
    justify-content: space-evenly;
    display: flex;
  }
  footer div button {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 30px;
    font-size: 12px;
    width: 125px;
    display: block;
    text-align: center;
  }
  footer div ul {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  div.wrapper {
    max-width: 100%;
  }
}
